{{> head }}
{{> page-head }}
<section class="section section--tight">
  <div class="container" style="width:100%;max-width:860px">
    <ul class="prose">
      <li><a href="/">トップページ</a></li>
      {{# site.nav }}<li><a href="{{ url }}">{{ label }}</a></li>{{/ site.nav }}
      <li><a href="/contact/">お問い合わせ</a></li>
      <li><a href="/entry/">見学申込&amp;応募</a></li>
      {{# site.footer_nav }}<li><a href="{{ url }}">{{ label }}</a></li>{{/ site.footer_nav }}
    </ul>
  </div>
</section>
{{> foot }}
